* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background-color: #1c1c1c;
    font-family: "Karla", sans-serif;
}

.main-container {
    padding: clamp(24px, 5vw, 52px);
    padding-top: clamp(64px, 10vw, 115px);
    padding-bottom: clamp(64px, 10vw, 115px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    gap: 30px;
    background-color: #1c1c1c;
}

.container {
    background-color: #1F2937;
    width: 100%;
    max-width: 550px;
    text-align: start;
    padding: 2.5rem;
    padding-bottom: 3rem;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin-bottom: 1.5rem
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

.buttons {
    background-color: #10B981;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 2.5rem;
}

.copy-btn {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;

    background-image: url("copy.png"); /* or inline SVG later */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 4px;
}

.password-display.empty .copy-btn {
    opacity: 0;
    pointer-events: none;
}


.password-display-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid #2F3E53;
    padding-top: 1.5rem;
}

.password-display {
    background-color: #273549;
    color: #55F991;
    padding: 10px 10px 10px 25px;
    margin: 0 1px;
    border-radius: 8px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 200px;
    min-height: 39px;
}

.password-text {
    margin: 0;
    font-size: 0.95rem;
    overflow-wrap: anywhere;
}


.white-color {
    color: #FFFFFF;
}

.greenish-color {
    color: #4ADF86;
}

.medium-grey-color {
    color: #d6d6d8;
}

