* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background-color: #1c1c1c;
    font-family: "Karla", sans-serif;
    text-shadow: 0 0 1px black;
}

.main-container {
    padding: clamp(24px, 5vw, 52px);
    padding-top: clamp(64px, 10vw, 115px);
    padding-bottom: clamp(64px, 10vw, 115px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    gap: 30px;
    background-color: #1c1c1c;
}

.container {
    background-color: #1F2937;
    width: 100%;
    max-width: 550px;
    text-align: start;
    padding: 2.5rem;
    padding-bottom: 3rem;
}

.options-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.checkbox-options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    border-top : 1px solid #2F3E53;
    padding-top: 1rem;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin-bottom: 1.5rem
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

.buttons {
    background-color: #10B981;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;

}

.copy-btn {
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;

    background-image: url("copy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 4px;
}

.option input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: #d6d6d8;
  font-size: 0.95rem;
  user-select: none;
  margin-bottom: 0.2rem;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid #4b5563;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.option input:checked + .custom-checkbox {
  background-color: #10b981;
  border-color: #10b981;
}

.option input:checked + .custom-checkbox::after {
  content: "✓";
  color: #0f172a;
  font-size: 0.8rem;
  font-weight: bold;
}

.length-control {
    color: #d6d6d8;
    margin-bottom: 0.5rem;
    display: block;
}

input[type="range"] {
    width: 100%;
    background: transparent;
    appearance: none;
    margin-left: 0;
    margin-bottom: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    background: #2F3E53;
    border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: #10B981;
    border-radius: 50%;
    margin-top: -6px; 
    cursor: pointer;

}

.password-display.empty .copy-btn {
    opacity: 0;
    pointer-events: none;
}


.password-display-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid #2F3E53;
    padding-top: 1.5rem;
}

.password-display {
    background-color: #273549;
    color: #55F991;
    padding: 10px 10px 10px 25px;
    margin: 0 1px;
    border-radius: 8px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 200px;
    min-height: 39px;
}

.password-text {
    margin: 0;
    font-size: 0.95rem;
    overflow-wrap: anywhere;
}


.white-color {
    color: #FFFFFF;
}

.greenish-color {
    color: #4ADF86;
}

.medium-grey-color {
    color: #d6d6d8;
}

